
<!DOCTYPE html>
<html>
<head>
<title>Progress Tracker</title>
</head>
<body>
<h1>Progress Tracker</h1>
<p>This page allows you to track your progress through the learning path.</p>
<p>For each topic, you can mark your progress as:</p>
<ul>
<li>Not started</li>
<li>In progress</li>
<li>Completed</li>
</ul>
<p>Click on a topic below to update your progress.</p>
<ul>
<li><a href="#">Limits</a></li>
<li><a href="#">Derivatives</a></li>
<li><a href="#">Integrals</a></li>
<li><a href="#">Series</a></li>
</ul>
</body>
</html>


